.container-view-cart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 1%;
}